@media only screen and (max-width: 600px) {
    body {
      width: 100%;
      height: 100%;
      background-color: lightgreen;
    }
  }
.header {
    background-image: url("images/background.jpeg");
    background-size: 50%;
    height: 400px;
}
#navbar {
    display: flex;
}
#logo {
    margin-left: 13%;
    margin-top: -25px;
}
#logo h2{
    color: blue;
    font-size: 35px;
    font-weight: 700;
}
#logo p{
    margin-top: -35px;
    margin-left: 110px;
    color: white;
    font-size: 15px;
}
#navbar ul{
    display: flex;
    margin-left: 30%;
   
}
#navbar li{
   list-style: none;
   color: white;
   padding: 0 25px;
   justify-content: space-between;
}
#navbar li :hover{
    font-size: 20px;
    color: blue;
}
.projects {
    display: flex;
    margin-left: 30px;
    justify-content: space-around;
 }
 #proj{
     border: solid whitesmoke;
     box-shadow: 10px 10px whitesmoke;
     text-align: center;
     width: 300px;
     height: 330px;
 }
 #proj h4 {
     font-size: 25px;
 }
 .footer {
     display: flex;
     margin-left: 10px;
     justify-content: space-around;
     background-color: blue;
     margin-top: 30px;
 }
 .footer h4 {
     font-size: 20px;
 }
 .footer li{
     list-style: none;
     font-size: 17px;
     color: white;
     font-style: italic;
     font-weight: bolder;
 }
 .icons {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}
#copy {
    margin-top: 10px;
    font-size: 20px;
}
#platforms {
    margin-top: 10px;
}
#right {
    margin-top: 10px;
    font-size: 20px;
}